.btn-add {
	background-color: #4CAF50;
  	border: 2px solid black;
  	color: black;
  	padding: 7px 14px;
  	font-size: 16px;
  	cursor: pointer;
}

.btn-update {
	background-color: #008CBA;
  	border: 2px solid black;
  	color: black;
  	padding: 7px 14px;
  	font-size: 16px;
  	cursor: pointer;
}

.btn-delete {
	background-color: #f44336;
  	border: 2px solid black;
  	color: black;
  	padding: 7px 14px;
  	font-size: 16px;
  	cursor: pointer;
}

.btn-clear {
	background-color: #f44336;
  	border: 2px solid black;
  	color: black;
  	padding: 7px 14px;
  	font-size: 16px;
  	cursor: pointer;
}

.container-data {
	margin-top: 30px;
}

table th, table td {
    padding: 30px;
    text-align: left;
}

.user-input {
	margin-top: 50px;
}

.user-input2 {
    padding: 30px;
}

.pageHeader {
  text-align: center;
  border: 3px solid black;
}
